<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420040817942-nomi8mf10at808rk3f419lq3q4k9561g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420040817942-nomi8mf10at808rk3f419lq3q4k9561g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420040817942-6pukr41viflv0af6alp6jeoldv04k3ov.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiUIDuUzqzkla4NU2uhmrLUDTk9CZ4cc0</string>
	<key>GCM_SENDER_ID</key>
	<string>420040817942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fireships.quizapp</string>
	<key>PROJECT_ID</key>
	<string>websonix-news</string>
	<key>STORAGE_BUCKET</key>
	<string>websonix-news.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420040817942:ios:be9aecbcb6629838c12437</string>
</dict>
</plist>
